<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Searching</title>
</head>
<body>
  <div class="container" id="app">
    <div class="row">
      <div class="col-sm-12">
        <input class="form-control" placeholder="Search" v-model="filter"/>
        <h4>Total : {{filter_post.length}} topics match</h4>
      </div>
    </div>
    <div class="row">
      <postbox v-bind:post="p" v-for="p in filter_post"></postbox>
    </div>
  </div>

  <template id="post">
    <div class="postbox col-sm-4">
      <div class="postbox_inner">
        <div class="img" :src="coverurl" :style="covercss"></div>
        <h6 v-html="post.name_short"></h6>
        <h4 v-html="post.title"></h4>
        <p v-html="post.description"></p>
      </div>
    </div>
  </template>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="javascript/main.js"></script>
</body>
</html>